<div class="bg-gray-100 flex justify-center items-center h-screen">
    <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-md">
        <div class="text-center">
            <img src="https://ap.poly.edu.vn/images/logo.png" class="mx-auto" alt="">
        </div>
        <form action="" id="loginForm" class="mb-3">
            <input type="text" id=name placeholder="Enter YourName"
                class="w-full border border-gray-300 rounded-md px-4 py-2 ">
            <p class="error nameError text-danger ml-2"></p>
            <input type="text" id="pass" placeholder="Enter PassWord"
                class="w-full border border-gray-300 rounded-md px-4 py-2 ">
            <p class="error passError text-danger ml-2 pb-2"></p>
            <input type="submit" value="LOGIN"
                class="w-full px-4 py-2 bg-blue-500 hover:bg-blue-600 transition duration-300 rounded-md  text-white focus:outline-none focus:ring-2 focus:ring-blue-500">
            <div class="text-gray-600 text-center py-2">OR</div>
        </form>
        <div class="mb-3">
            <button
                class=" flex items-center w-full pl-[100px]  py-2 bg-red-500 hover:bg-red-600 transition duration-300 rounded-md  text-white focus:outline-none focus:ring-2 focus:ring-red-500">
                <img src="https://cdn1.iconfinder.com/data/icons/google-s-logo/150/Google_Icons-09-512.png"
                    class="h-6 w-6" alt="">
                <span>Continue with Google</span>
            </button>
        </div>
        <div class="">
            <button
                class=" flex items-center w-full pl-[100px]  py-2 bg-blue-500 hover:bg-blue-600 transition duration-300 rounded-md  text-white focus:outline-none focus:ring-2 focus:ring-blue-500">
                <img src="https://static-00.iconduck.com/assets.00/facebook-icon-512x511-ircc9ves.png" class="h-6 w-6"
                    alt="">
                <span>Continue with Facebook</span>
            </button>
        </div>
    </div>
</div>